{% extends '_base.html' %}

{% block css %}  
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron home-image-container">
        <div class="inside-text text-center" style="color: white;">
            <h1>CengineLab E-Books</h1>
            <p> Explore All About Engineering </p>
            <p> Get your Course outline with all the PDFs you need to work towards achieving success! </p>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    
{% endblock %}

{% block javascript %}

{% endblock %}