body {
    font: 400 15px Lato, sans-serif;
    font-family: Montserrat, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  
.container-fluid {
    padding: 60px 50px;
  }

.navbar {
    background-color: #f4511e;
  }

.dropdown-menu a{ text-decoration: none; padding: 0px auto;}
.dropdown-menu a:hover {background-color: #fff; color: #f4511e;}
.dropdown-divider{ margin: 10px; border: 1px solid #fff;}

.dropdown-item {
  color: #fff;
  margin: auto 20px;
}

/*===================================================================================================*/
#nav-menu { 
  font-size:10px; 
  cursor:pointer; 
  color: #fff; 
}

#nav-menu:hover { 
  font-size:10px; 
  cursor:pointer; 
  background-color: #fff; 
  color: #f4511e;
}

/*  SIDE NAV  */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.toggler { padding-top: 10px;}
/*===================================================================================================*/

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }

.image-parent{
    max-width: 40px;
    display: inline;
  }
  
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 0;
    color: #f4511e;
  }
  
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
  margin-bottom: 0;
}



/* Vertical Line at Footer */
.vl {
  border-left: 3px solid #fff;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  }
  @media screen and (max-width: 480px) { .vl{display: none;} }
  @media screen and (max-width: 768px) { .vl{display: none;} }

.footer{
  background-color: black;
  color: #ccc;
}

/* Social media handles  padding: 20px; */
.fa {
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  padding: 8px;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  padding: 8px;
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  padding: 8px;
  background: #007bb5;
  color: white;
}

.fa-youtube {
  padding: 8px;
  background: #bb0000;
  color: white;
}

.fa-instagram {
  padding: 8px;
  background: #125688;
  color: white;
}

.fa-linkedin:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-facebook:hover, .fa-youtube:hover {
  color: #ccc;
}

@media screen and (max-width: 768px) {
  .fa {
    font-size: 15px;
    width: 25px;
    height: 25px;
  }
  .fa-linkedin, .fa-instagram, .fa-twitter, .fa-facebook, .fa-youtube{
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .fa {
    font-size: 15px;
    width: 25px;
    height: 25px;
  }
  .fa-linkedin, .fa-instagram, .fa-twitter, .fa-facebook, .fa-youtube{
    padding: 5px;
  }
}