{% extends '_base.html' %}

{% block body %}
<!-- Container (About Section) -->
<div class="container">
  <!-- =================================================================================================
  ||                                     FIRST YEAR SECTION                                           ||
   ================================================================================================= -->
   <br> <br/> 
   <p style="float: right; color: red;"> NOTE: The keyword *, represents Elective Courses</p>
   <hr/>
  <div class="row" id="100">
    <h3 style="text-align: center;"> LEVEL 100 </h3>
    <hr>
    <div class="col-sm-6">
      <h3 class="text-muted"> First Semester </h3>
      <h4><b> Courses </b></h4>
      <ol>
        <li> MATH 151 Algebra </li>
        <li> ME 161 Basic Mechanics </li>
        <li> CE 155 Environmental Studies</li>
        <li> COE 153 Electrical Engineering Technology </li>
        <li> ENGL 157 Communication Skills 1 </li>
        <li> COE 157 Introduction to IT </li>
        <li> ME 159 Techncal Drawing </li>
        <li> COE 181 Applied Electricity </li>
      </ol>
      <button class="btn btn-primary" onclick="view_pdfs(1001)"> View PDFs </button>
      <ul class="list-group" style="display: none;" id="1001">
        {% set cnt = [0] %}
        {% if _1001 %}
        {% for i in _1001 %}
          <li class="list-group-item d-flex justify-content-between">
            <p class="list-group-item-text"> {{ _1001[ cnt[0] ] }}  </p>
            <div class="image-parent">
                <img src="static\imgs\pdf_icon.png" class="img-fluid" alt="" width="50" height="50">
            </div>
            <a href="{{ url_for('download', url='static/pdfs/1st_year/first_sem', filename = _1001[ cnt[0] ] ) }}"><p class="list-group-item-text btn btn-primary" style="float: right; margin: 4px;"> Download </p></a>
          </li>
          {% if cnt.append(cnt.pop() + 1) %} {% endif %} 
          {% endfor %}
          {% else %}
          <h4> Sorry, there are no PDFs here </h4>
          {% endif %}
      </ul>
      <button class="btn btn-success" onclick="hide_pdfs(1001)" style="display: none;" id="1"> Hide PDFs </button>
      </div>
    
    <div class="col-sm-6">
      <h3 class="text-muted"> Second Semester </h3>
      <h4><b> Courses </b></h4>
      <ol>
        <li> COE 162 Programming & Problem Solving I </li>
        <li> COE 164 Intro. to MatLab & LabView </li>
        <li> COE 172 Basic Electronics </li>
        <li> EE 156 Electrical Engineering Drawing </li>
        <li> EE 172 Electrical Machines </li>
        <li> ENGL 158 Communication Skills II </li>
        <li> MATH 152 Calculus with Analysis </li>
        <li> ME 166 Applied Thermodynamics </li>
      </ol>
      <button class="btn btn-primary" onclick="view_pdfs(1002)"> View PDFs </button>
      <ul class="list-group" style="display: none;" id="1002">
        {% set cnt = [0] %}
        {% if _1002 %}
        {% for i in _1002 %}
          <li class="list-group-item d-flex justify-content-between">
            <p class="list-group-item-text"> {{ _1002[ cnt[0] ] }}  </p>
            <div class="image-parent">
                <img src="static\imgs\pdf_icon.png" class="img-fluid" alt="" width="50" height="50">
            </div>
            <a href="{{ url_for('download', url = 'static/pdfs/1st_year/second_sem', filename = _1002[ cnt[0] ] ) }}"><p class="list-group-item-text btn btn-primary" style="float: right; margin: 4px;"> Download </p></a>
          </li>
          {% if cnt.append(cnt.pop() + 1) %} {% endif %}
          {% endfor %}
          {% else %}
          <h4> Sorry, there are no PDFs here </h4>
          {% endif %}
      </ul>
      <button class="btn btn-success" onclick="hide_pdfs(1002)" style="display: none;" id="2"> Hide PDFs </button>
      </div>
  </div>
  <hr>

  <!-- =================================================================================================
  ||                                     SECOND YEAR SECTION                                          ||
   ================================================================================================= -->
  <div class="row" id="200">
    <h3 style="text-align: center;"> LEVEL 200 </h3>
    <hr>
    <div class="col-sm-6">
      <h3 class="text-muted"> First Semester </h3>
      <h4><b> Courses </b></h4>
      <ol>
        <li> COE 241 Communication Systems </li>
        <li> COE 251 Discrete Structures </li>
        <li> COE 271 Semiconductor Devices </li>
        <li> COE 273 Computer Organization </li>
        <li> COE 281 Circuit Theory </li>
        <li> COE 291 Computer Eng. Lab. I </li>
        <li> CENG 291 Engineer in Society </li>
        <li> MATH 251 Differential Equations </li>
        <li> * CSM 157 Accounting I </li>
        <li> * ECON 151 Introductory Economics I </li>
        <li> * FC 181 French for Communication I </li>
      </ol>
      <button class="btn btn-primary" onclick="view_pdfs(1003)"> View PDFs </button>
        <ul class="list-group" style="display: none;" id="1003">
          {% set cnt = [0] %}
          {% if _2001 %}
          {% for i in _2001 %}
            <li class="list-group-item d-flex justify-content-between">
              <p class="list-group-item-text"> {{ _2001[ cnt[0] ] }}  </p>
              <div class="image-parent">
                  <img src="static\imgs\pdf_icon.png" class="img-fluid" alt="" width="50" height="50">
              </div>
              <a href="{{ url_for('download', url='static/pdfs/2nd_year/first_sem', filename = _2001[ cnt[0] ] ) }}"><p class="list-group-item-text btn btn-primary" style="float: right; margin: 4px;"> Download </p></a>
            </li>
            {% if cnt.append(cnt.pop() + 1) %} {% endif %}
            {% endfor %}
            {% else %}
            <h4> Sorry, there are no PDFs here </h4>
            {% endif %}
        </ul>
        <button class="btn btn-success" onclick="hide_pdfs(1003)" style="display: none;" id="3"> Hide PDFs </button>
        </div>
    
    <div class="col-sm-6">
      <h3 class="text-muted"> Second Semester </h3>
      <h4><b> Courses </b></h4>
      <ol>
        <li> COE 262 Algorithms & Data Structures </li>
        <li> COE 272 Digital Systems Design I </li>
        <li> COE 282 Elect. Measurement & Instrumentation </li>
        <li> COE 292 Computer Eng. Lab. II </li>
        <li> MATH 252 Calculus with Several Variables </li>
        <li> TE 262 Electromagnetic Fields </li>
        <li> * FC 182 French for Communication II </li>
        <li> * ECON 152 Introductory Economics II </li>
        <li> * CSM 158 Accounting II </li>
      </ol>
      <button class="btn btn-primary" onclick="view_pdfs(1004)"> View PDFs </button>
        <ul class="list-group" style="display: none;" id="1004">
          {% set cnt = [0] %}
          {% if _2002 %}
          {% for i in _2002 %}
            <li class="list-group-item d-flex justify-content-between">
              <p class="list-group-item-text"> {{ _2002[ cnt[0] ] }}  </p>
              <div class="image-parent">
                  <img src="static\imgs\pdf_icon.png" class="img-fluid" alt="" width="50" height="50">
              </div>
              <a href="{{ url_for('download', url='static/pdfs/2nd_year/second_sem', filename = _2002[ cnt[0] ] ) }}"><p class="list-group-item-text btn btn-primary" style="float: right; margin: 4px;"> Download </p></a>
            </li>
            {% if cnt.append(cnt.pop() + 1) %} {% endif %}
            {% endfor %}
          {% else %}
          <h4> Sorry, there are no PDFs here </h4>
          {% endif %}
        </ul>
        <button class="btn btn-success" onclick="hide_pdfs(1004)" style="display: none;" id="4"> Hide PDFs </button>
        </div>  
  </div>
  <hr> 

  <!-- =================================================================================================
  ||                                     THIRD YEAR SECTION                                          ||
   ================================================================================================= -->
  <div class="row" id="300">
    <h3 style="text-align: center;"> LEVEL 300 </h3>
    <hr>
    <div class="col-sm-6">
      <h3 class="text-muted"> First Semester </h3>
      <h4><b> Courses </b></h4>
      <ol>
        <li> COE 361 Programming & Problem Solving II </li>
        <li> COE 371 Linear Electronic Circuits </li>
        <li> COE 373 Microprocessors </li>
        <li> COE 381 Signals and Systems </li>
        <li> COE 383 Classical Control Systems </li>
        <li> COE 391 Computer Engineering Lab. III </li> 
        <li> MATH 351 Numerical Methods </li>
        <li> MATH 353 Probability and Statistics </li>
      </ol>
      <button class="btn btn-primary" onclick="view_pdfs(1005)"> View PDFs </button>
        <ul class="list-group" style="display: none;" id="1005">
          {% set cnt = [0] %}
          {% if _3001 %}
          {% for i in _3001 %}
            <li class="list-group-item d-flex justify-content-between">
              <p class="list-group-item-text"> {{ _3001[ cnt[0] ] }}  </p>
              <div class="image-parent">
                  <img src="static\imgs\pdf_icon.png" class="img-fluid" alt="" width="50" height="50">
              </div>
              <a href="{{ url_for('download', url='static/pdfs/3rd_year/first_sem', filename = _3001[ cnt[0] ] ) }}"><p class="list-group-item-text btn btn-primary" style="float: right; margin: 4px;"> Download </p></a>
            </li>
            {% if cnt.append(cnt.pop() + 1) %} {% endif %}
            {% endfor %}
          {% else %}
          <h4> Sorry, there are no PDFs here </h4>
          {% endif %}
        </ul>
        <button class="btn btn-success" onclick="hide_pdfs(1005)" style="display: none;" id="5"> Hide PDFs </button>
    </div>
    
    <div class="col-sm-6">
      <h3 class="text-muted"> Second Semester </h3>
      <h4><b> Courses </b></h4>
      <ol>
        <li> COE 342 Undergraduate Thesis Methods </li>
        <li> COE 344 Computer Networks </li>
        <li> COE 352 Embedded Systems I </li>
        <li> COE 354 Operating Systems </li>
        <li> COE 356 Systems Engineering Principles </li>
        <li> COE 362 Software Engineering Principles </li>
        <li> COE 364 Human-Computer Interaction </li>
        <li> COE 366 Database & Information Retrieval </li>
        <li> COE 372 Digital Systems Design II </li>
        <li> COE 392 Computer Engineering Lab. IV </li>
      </ol>
      <button class="btn btn-primary" onclick="view_pdfs(1006)"> View PDFs </button>
        <ul class="list-group" style="display: none;" id="1006">
          {% set cnt = [0] %}
          {% if _3002 %}
          {% for i in _3002 %}
            <li class="list-group-item d-flex justify-content-between">
              <p class="list-group-item-text"> {{ _3002[ cnt[0] ] }}  </p>
              <div class="image-parent">
                  <img src="static\imgs\pdf_icon.png" class="img-fluid" alt="" width="50" height="50">
              </div>
              <a href="{{ url_for('download', url='static/pdfs/3rd_year/second_sem', filename = _3002[ cnt[0] ] ) }}"><p class="list-group-item-text btn btn-primary" style="float: right; margin: 4px;"> Download </p></a>
            </li>
            {% if cnt.append(cnt.pop() + 1) %} {% endif %}
            {% endfor %}
            {% else %}
            <h4> Sorry, there are no PDFs here </h4>
            {% endif %}
        </ul>
        <button class="btn btn-success" onclick="hide_pdfs(1006)" style="display: none;" id="6"> Hide PDFs </button>
    </div>
  </div>
  <hr/>

  <!-- =================================================================================================
  ||                                     FOURTH YEAR SECTION                                          ||
   ================================================================================================= -->
   <div class="row" id="400">
    <h3 style="text-align: center;"> LEVEL 400 </h3>
    <hr>
    <div class="col-sm-6">
      <h3 class="text-muted"> First Semester </h3>
      <h4><b> Courses </b></h4>
      <ol>
        <li> COE 431 Engineering Ethics </li>
        <li> COE 441 Computer Networks Lab. </li>
        <li> COE 471 Computer Architecture </li>
        <li> COE 497 Project I </li>
        <li> COE 499 Vacation Training </li>
        <li> ME 491 Engineering Econ & Management </li>
        <li> * COE 453 Distributed Computing </li>
        <li> * COE 455 Computer Graphics </li>
        <li> * COE 461 Artificial Intelligence </li>
        <li> * COE 473 Fault Tolerance & Testing </li>
      </ol>
      <button class="btn btn-primary" onclick="view_pdfs(1007)"> View PDFs </button>
        <ul class="list-group" style="display: none;" id="1007">
          {% set cnt = [0] %}
          {% if _4001 %}
          {% for i in _4001 %}
            <li class="list-group-item d-flex justify-content-between">
              <p class="list-group-item-text"> {{ _4001[ cnt[0] ] }}  </p>
              <div class="image-parent">
                  <img src="static\imgs\pdf_icon.png" class="img-fluid" alt="" width="50" height="50">
              </div>
              <a href="{{ url_for('download', url='static/pdfs/4th_year/first_sem', filename = _4001[ cnt[0] ] ) }}"><p class="list-group-item-text btn btn-primary" style="float: right; margin: 4px;"> Download </p></a>
            </li>
            {% if cnt.append(cnt.pop() + 1) %} {% endif %}
            {% endfor %}
          {% else %}
          <h4> Sorry, there are no PDFs here </h4>
          {% endif %}
        </ul>
        <button class="btn btn-success" onclick="hide_pdfs(1007)" style="display: none;" id="7"> Hide PDFs </button>
    </div>
    
    <div class="col-sm-6">
      <h3 class="text-muted"> Second Semester </h3>
      <h4><b> Courses </b></h4>
      <ol>
        <li> COE 498 Project II </li>
        <li> ME 492 Entrepreneurship Development </li>
        <li> * COE 442 Secure Network Systems </li>
        <li> * COE 452 Embedded Systems II </li>
        <li> * COE 454 Computer Vision and Robotics </li>
        <li> * COE 462 Software Engineering </li>
        <li> * COE 472 Digital Signal Processing </li>
        <li> * COE 474 VLSI Design </li>
        <li> * COE 482 Digital Control Systems </li>
      </ol>
      <button class="btn btn-primary" onclick="view_pdfs(1008)"> View PDFs </button>
        <ul class="list-group" style="display: none;" id="1008">
          {% set cnt = [0] %}
          {% if _4002 %}
          {% for i in _4002 %}
            <li class="list-group-item d-flex justify-content-between">
              <p class="list-group-item-text"> {{ _4002[ cnt[0] ] }}  </p>
              <div class="image-parent">
                  <img src="static\imgs\pdf_icon.png" class="img-fluid" alt="" width="50" height="50">
              </div>
              <a href="{{ url_for('download', url='static/pdfs/4th_year/second_sem', filename = _4002[ cnt[0] ] ) }}"><p class="list-group-item-text btn btn-primary" style="float: right; margin: 4px;"> Download </p></a>
            </li>
            {% if cnt.append(cnt.pop() + 1) %} {% endif %}
            {% endfor %}
          {% else %}
          <h4> Sorry, there are no PDFs here </h4>
          {% endif %}
        </ul>
        <button class="btn btn-success" onclick="hide_pdfs(1008)" style="display: none;" id="8"> Hide PDFs </button>
    </div>
  </div>
  <br/>

</div>


{% endblock %}

{% block footer %}
  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid" style="margin-top: 0;">
    <h2 class="text-center" style="color: #fff; margin-top: 0;"> CONTACT </h2>
    <div class="row">
      <div class="col-sm-5">
        <p><span class="glyphicon glyphicon-map-marker"></span> Acrra, Ghana </p>
        <p><span class="glyphicon glyphicon-phone"></span> +233 575409915 </p>
        <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:infotexperience@gmail.com"> Send An Mail </a></p>
      </div>

      <div class="col-sm-1 vl"> </div> 

      <div class="col-sm-6 slideanim">
        <form action="/contact" method="POST">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="notification is-success">
                {{ messages[0] }}
            </div>
            {% endif %}
          {% endwith %}
      </form>
      </div>
    </div>
    <div id="getInTouch">
      <a href="https://www.linkedin.com/mwlite/in/elijah-ocupualor-588734180" class="fa fa-linkedin"></a>
      <a href="https://www.instagram.com/koffi_cobbin/" class="fa fa-instagram"></a>
      <a href="https://mobile.twitter.com/koffi_cobbin" class="fa fa-twitter"></a>
      <a href="https://www.facebook.com/profile.php?id=100009394054290" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-youtube"></a>
  </div>
  <p style="text-align: right;" ><small>&copy; 2020 All rights reserved.</small></p>
</div>
{% endblock %}

{% block javascript %}
<script>
var x = 1000;

function view_pdfs(id) {
  lst = document.getElementById(id);
  btn = document.getElementById(String(id - x));
  lst.style.display = "block";
  btn.style.display = "block";
}

function hide_pdfs(id) {
  lst = document.getElementById(id);
  btn = document.getElementById(String(id - x));
  lst.style.display = "none";
  btn.style.display = "none";
}

</script>
{% endblock %}